name: Pull Request Build and Deploy
on:
  pull_request:
    branches: [ development ]
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'

env:
  PR_REPO_NAME: app-pr-${{ github.event.pull_request.node_id }}

jobs:
  create-page-host:
    runs-on: ubuntu-latest
    steps:
      - name: Create new repository for temporary deployment
        uses: octobay/create-repository-action@v1
        with:
          name: ${{ env.PR_REPO_NAME }}
          org: octobay
          access-token: ${{ secrets.PAT }}
    
  pr-build-deploy:
    needs: create-page-host
    runs-on: ubuntu-latest
    environment: 
      name: pr-staging
      url: https://octobay.github.io/${{ env.PR_REPO_NAME }}/
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v2
      
      # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
      - name: Set GitHub Actions as Commit Author
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          path: 'pr-build'
      
      - name: Build Pull Request
        run: |
          cd pr-build
          yarn
          export NUXT_ROUTER_BASE_DIR=/${{ env.PR_REPO_NAME }}/
          export API_URL=https://octobay.uber.space
          export GITHUB_CLIENT_ID=79c2b8f305ad223cfb5e
          export OCTOBAY_ADDRESS=0xEC1dA9EeE346A67C121E4fce746C64b4e31b61A4
          export CHAIN_ID=42
          yarn app:generate
          cd ..
      
      - name: Checkout temporary deployment target repo
        uses: actions/checkout@v2
        with:
          repository: octobay/${{ env.PR_REPO_NAME }}
          path: 'pr-deploy'
          token: ${{ secrets.PAT }}
      
      - name: Push files to target
        run: |
          cp -r pr-build/dist/* pr-deploy
          cd pr-deploy
          touch .nojekyll
          git add .
          git commit -m $GITHUB_SHA
          git branch -M gh-pages
          git push -f origin gh-pages
